/* Stilizare form */
.profile-form {
    background-color: #FFFFFF; /* Fundal alb pentru contrast */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Etichete form */
.form-label {
    font-weight: bold;
    color: #333;
}

/* Inputuri și textarea */
.form-control {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

    .form-control:focus {
        border-color: #FFC96F;
        box-shadow: 0 0 5px rgba(255, 201, 111, 0.5);
    }

/* Radio buttons */
.form-check-input:checked {
    background-color: #FFA62F;
    border-color: #FFA62F;
}

.form-check-label {
    margin-left: 5px;
    font-weight: bold;
    color: #333;
}

/* Butoane */
.profile-btn {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.profile-btn-success {
    background-color: #FFC96F;
    color: #FFFFFF;
}

    .profile-btn-success:hover {
        background-color: #FFA62F;
    }

.profile-btn-secondary {
    background-color: #B0B0B0;
    color: #FFFFFF;
}

    .profile-btn-secondary:hover {
        background-color:   #999;
            
    }
