@model proiect.Models.Friendship

<h2 class="text-center">Confirmare ștergere prietenie</h2>

<p>Sunteți sigur că doriți să ștergeți această prietenie între @Model.User1.UserFirstName @Model.User1.UserLastName și @Model.User2.UserFirstName @Model.User2.UserLastName?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Șterge prietenia</button>
    <a class="btn btn-secondary" asp-action="Index">Anulează</a>
</form>
